* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color:#391a14 ;
    --secondary-color:#af9a8d ;
    --tertiary-color:#9e5a48 ;
}

/* header -------------------------------------------------------------------------*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background: var(--secondary-color);
    margin: 0;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
}

header nav{
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 22px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-decoration: underline solid var(--secondary-color);
    text-underline-offset: .4em;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

/*---- hero ---------------*/
.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 3% 5%;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--primary-color);
}

.hero h2 {
    background-color: var(--secondary-color);
    padding: 5px 15px;
    font-size: 2vw;
}

/* body ---------------------------------------------------------------------------*/
body {
    background-color: #e7e7e7;
    line-height: 1.5;
    color: var(--primary-color);
}

.page-content {
    max-width: 85%;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.main-section {
    display: flex;
    margin: 25px 0;
    padding: 10px 1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title {
    padding-right: 15px;
    line-height: 1.2;
    font-weight: bold;
    flex: 0 0 20%;
    text-align: right;
    border-right: var(--primary-color) solid 4px;
}

.section-title h2 {
    justify-content: flex-end;
}

.group {
    flex: 0 0 75%;
}

.group p {
    margin-bottom: 20px;
}

/*---- my work ------------*/
.work-example img{
    min-height: 100px;
    max-height: 250px;

}

/*---- contact me ---------*/
.group ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.group ul li a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: var(--primary-color) 3px solid;
    margin-bottom: 3px;
}
/* footer -------------------------------------------------------------------------*/

