* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color:#2F3E46 ;
    --secondary-color:#CAD2C5 ;
    --tertiary-color:#84A98C ;
}

/* header -------------------------------------------------------------------------*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background: var(--secondary-color);
    margin: 0;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
}

header nav{
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 22px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-decoration: underline solid var(--secondary-color);
    text-underline-offset: .4em;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
  }
/* body ---------------------------------------------------------------------------*/
section {

}

.section-title {

}

.text {

}
/*---- hero ---------------*/
.hero h2 {

}
/*---- about me -----------*/

/*---- my work ------------*/
.work-example img{
    min-height: 100px;
    max-height: 250px;

}

/*---- contact me ---------*/

/* footer -------------------------------------------------------------------------*/

