* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color:#391a14 ;
    --secondary-color:#af9a8d ;
    --tertiary-color:#9e5a48 ;
}

/* header -------------------------------------------------------------------------*/
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav{
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 22px;
    font-weight: lighter;
    font-size: 1.2vw;
    text-decoration: underline solid var(--secondary-color);
    text-underline-offset: .4em;
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

/*---- hero ---------------*/
.hero {
    display: flex;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 3% 5%;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--primary-color);
}

.hero h2 {
    background-color: var(--secondary-color);
    padding: 5px 15px;
    font-size: 2vw;
}

/* body ---------------------------------------------------------------------------*/
body {
    background-color: #e7e7e7;
    line-height: 1.5;
    color: var(--primary-color);
}

.page-content {
    max-width: 85%;
    margin-top: 20px;
    margin-bottom: 40px;
}

    /*---main use of flexbox througout the portfolio*/
.main-section {
    display: flex;
    margin: 25px 0;
    padding: 10px 1px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

    /*--- flex sets the spacing of the section titile column and the main group column!!! */
.section-title {
    padding-right: 15px;
    font-weight: bold;
    flex: 0 0 25%;
    text-align: right;
    border-right: var(--primary-color) solid 4px;
}

.group {
    flex: 0 0 70%;
}

.group p {
    margin-bottom: 20px;
}

/*---- my work ------------*/
.work-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    border: var(--tertiary-color) solid 5px;
    max-height: 550px;
    max-width: 350px;
    height: 200px;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    margin: .5rem;
}
.work-section:first-child{

}

/*git rid of the underline*/
.work-example {
    background-color: var(--tertiary-color);
    text-decoration: none;
    color: var(--secondary-color);
}

.work-example h3 {
    text-decoration: none;
}

/* images */
.p1 {
    background-image: url(./images/placeholder1.jpg);
}

.p2 {
    background-image: url(./images/placeholder2.jpg);
}

.p3 {
    background-image: url(./images/placeholder3.jpg);
}

.p4 {
    background-image: url(./images/placeholder4.jpg);
}

.p5 {
    background-image: url(./images/placeholder5.jpg);
}

/*---- contact me ---------*/
.group ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.group ul li a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: var(--primary-color) 3px solid;
    margin-bottom: 3px;
}
/* footer -------------------------------------------------------------------------*/

